# Ignore Node Dependencies (Frontend and Backend)
node_modules/

# Ignore Backend Data & Caches
backend/data/
backend/.cache/
backend/public/

# Ignore Frontend Build output
frontend/dist/
frontend/build/
.svelte-kit/

# Ignore Environment variables and OS files
.env
.DS_Store
Thumbs.db
.vscode/
